<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products By Rank
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All PRODUCTS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=novel,autobiography,history_and_geography,science_and_philosophy,art,book_new_arrival,book_deal " class="dropdown-item" class="dropdown-item ">Books</a>
                <a href="{% url 'products' %}?category=bookmark,readinglight,magnifier,desklamp,desk_lamp_clearence" class="dropdown-item" class="dropdown-item ">Accessories</a>
                <!-- <a href="{% url 'products' %}?category=novel,autobiography,history_and_geography,science_and_philosophy,art,bookmark,readinglight,magnifier,desklamp,book_new_arrival,book_deal,desk_lamp_clearence" class="dropdown-item">All Products</a> -->
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BOOKS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=novel,book_deal" class="dropdown-item">Novels</a>
                <a href="{% url 'products' %}?category=autobiography" class="dropdown-item">Autobiography</a>
                <a href="{% url 'products' %}?category=history_and_geography" class="dropdown-item">History & Geography</a>
                <a href="{% url 'products' %}?category=science_and_philosophy,book_new_arrival" class="dropdown-item">Science & Philisophy</a>
                <a href="{% url 'products' %}?category=art" class="dropdown-item">Art</a>
                <!-- <a href="" class="dropdown-item">By Title</a>
                <a href="" class="dropdown-item ">By Genre</a>
                <a href="" class="dropdown-item ">By Authure</a> -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ACCESSORIES
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=bookmark" class="dropdown-item">Book Marks</a>
                <a href="{% url 'products' %}?category=readinglight" class="dropdown-item">Reading Lights</a>
                <a href="{% url 'products' %}?category=magnifier" class="dropdown-item">Magnifiers</a>
                <a href="{% url 'products' %}?category=desklamp,desk_lamp_clearence" class="dropdown-item">Desk Lamps</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SPECIAL OFFERS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=book_new_arrival" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=book_deal" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance,desk_lamp_clearence" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=book_new_arrival,book_deal,desk_lamp_clearence" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>